.btn {
    transition: background-color 0.3s, color 0.3s, transform 0.2s, box-shadow 0.3s ;

    color: #fff; 
    border: 2px solid #2ecc71;
    border-radius: 10px; 
    padding: 10px 20px; 
    font-size: 16px; 
    cursor: pointer; 
    outline: none; 
}

.btn:hover {
    background-color: #fff !important; 
    color: #3388ff !important;
    border-color: #3388ff !important; 
    transform: translateY(-2px) ; 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2) !important; 
}



.carcard {
	width: 100% !important;
	margin: 0.5rem !important;
	position: relative !important;
	background-color: transparent !important;
	backdrop-filter: blur(18px) !important;
	color: whitesmoke !important;
}
.car_card_css {
	display: inline-flex !important;
	flex-wrap: wrap !important;
	justify-content: space-between !important;
	width: 500px !important;
	height: 750px !important;
	border-radius: 1rem !important;
	box-shadow: 0 0 16px rgb(255, 255, 255) !important;
	transition: all 0.3s ease-in-out !important;
	cursor: pointer !important;
	margin: 1.5rem;
}
.mask {
	position: absolute !important;
	top: 0 !important;
	left: 0 !important;
	width: 100% !important;
	height: 100% !important;
	background-color: rgba(255, 255, 255, 0.15) !important;
	backdrop-filter: blur(0.5px) !important;
}
.card-title,
.card-text {
	color: whitesmoke !important;
}
.card-title {
	font-size: 20px;
	font-weight: 700;
}

.img-car {
	width: 325px;
	background-position: cover;
}

/* .custom-btn :hover{
    background-color: #f8f9fa !important;
    color: #000 !important;
  } */
